* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('2dagl4i7dgxa1.jpg')
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    padding: 40px;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    gap: 50px;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

.sidebar {
    flex: 30%;
    display: flex;
    flex-direction: column;
}

.sidebar h3 {
    margin: 20px 0 10px 0;
    text-transform: uppercase;
    font-size: 1.1em;
}

.main-content {
    flex: 70%;
}

.main-content h2 {
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.description {
    color: #777;
    margin-bottom: 15px;
    font-style: italic;
}

.image-wrapper {
    margin-bottom: 15px;
    background: url('2dagl4i7dgxa1.jpg');
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper img {
    background: url('2dagl4i7dgxa1.jpg');
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.image-wrapper.small {
    background: url('2dagl4i7dgxa1.jpg');
    height: 70px;
}

.image-wrapper.large {
    background: url('2dagl4i7dgxa1.jpg');
    height: 300px;
}

p {
    margin-bottom: 15px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }
    .image-wrapper.small, .image-wrapper.large {
        height: 200px;
    }
}
